.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 5%;
  width: 50%;
  max-width: 90%;
  z-index: 1000;
  background-color: #272727;
  box-shadow: 0px 0px 0px 1000rem rgba(0,0,0,0.75);
  color:#e2e2e2 ;
  text-align: center;
}

p{
  margin: 0;
  align-self: center;
}

.modal__close{
  margin: 0;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal__close:hover{
  cursor: pointer;
  background-color: #373737
}

@media (max-width: 750px) {
  .modal {
    width: 70%;
    display: flex;
  }
  .modal__container{
    width: 100%;
    
  }
}