body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #474341;
  margin: 0 0 0 0;
  padding: 0;
}

nav{
  display: flex;
  background-color: rgb(206, 255, 255);
  
}

header{
  margin: 0 0 0 0;
}

main{
  margin: 2rem 15% 0 15%;
}

nav ul{
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 0;
  margin-right: 10%;
}

li{
  list-style-type: none;
  align-self: center;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  margin: 0 0 0 0;
  text-align: center;
}

.logo{
  height: 4rem;
  width: 8rem;
  background-color: gray;
  margin-right: 10%;
}

.log{
  display: flex;
  align-items: center;
}

.login {
  margin-left: auto;
}

.main{
  display: flex;
}

.main-image{
  background-color: gray;
  margin: 5%;
  width: 40%;
  height: 24rem
}

.main-text{
  align-self: center;
  width: 40%;
  margin: 5%;
}
.servicios ul{
  list-style-type: none;
  padding: 0 0 0 0;
}

.serv{
  display: flex;
}

.serv img{
  width: 20%;
  height: 20%;
}

.serv p{
  width: auto;
  margin: 0 0 0 0;

}

@media (max-width: 750px) {

  body{
    margin: 2rem 0 0 0;
    text-align: center;
  }
  .log{
    display: block;
    align-items: center;
  }
  .logo{
    height: 4rem;
    width: 100%;
    background-color: gray;
    margin: 0;
    
  }
  .login{
    margin: 0
  }
  nav{
    display: block;
    padding: 0 0 5% 0;
  }

  ul{
    display: block;
    justify-content: space-between;
    width: 100%;
    margin: 0;  
    padding: 5% 0 0 0;
  }
  main{
    display: block;
  }
  .main-image{
    height: 20rem;
    width: 100%;
  }
}