
/* 
yellow: #FCEE21;
gray: #40403F;
beige: #E2E2E2

*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #40403F;
  background-color: #E2E2E2;
  margin: 0 0 0 0;
  padding: 0;
}

nav{
  display: flex;
  color: #E2E2E2;
  
  width: 90%;
  padding: 0 15% 0 5%;
  justify-content: space-between;
}

nav a{
  color:#E2E2E2
}

header{
  margin: 0 0 0 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #272727;
  display: flex;
  position:fixed;
  transition: top 0.5s ease;
  z-index: 3;
  border-bottom: #000000 solid 1px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding: 0;
}

li{
  list-style-type: none;
  align-self: center;
}

nav > div{
  width: 40%;
}

main > section{
  position: relative;
  top: 2rem;
  z-index: 2;
  padding: 4rem 15%;
}

a{
  text-decoration: none;
  color: black;
}

section > h2{
  border-bottom:#272727 solid 2px;
  padding: 0 0 10px 0;
  text-align: center;
}

.logo{
  padding: 1%;
  width: 10%;
  display: flex;
}

.logo img{
  object-fit: contain;
  width: 100%;

}

.log{
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

div.main{
  display: flex;
  
}

.main-image{
  background-color: gray;
  margin: 0 5%;
  width: 40%;
  height: 24rem
}

.main-text{
  align-self: center;
  width: 40%;
  margin: 0 5%;
}

.servicios{ 
  background-color: #40403F;
  color: #E2E2E2;
}

.servicios>ul{
  list-style-type: none;
  padding: 0 0 0 5%;
}

.serv{
  display: flex;
  margin: 0 5%;
}

.serv img{
  width: 20%;
  height: 20%;
  /* shape it as a circle */
  border-radius: 50%;
}

.serv ul{
  width: 50%;
  margin: 0 5%;
  columns: 2;
  align-self: center;
}

.serv li{
  list-style-type: none;
}

.serv li::before {
  content: "🔑  "; 
}

.serv>div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.serv>div button{
  font-size: 125%;
  background-color: rgb(252, 238, 33);
  box-shadow: 0px 0px 15px -2px rgba(252,238,33,0.75);
  border:none;
  padding: 5% 10%;
  border-radius: 10px;
}

footer{
  background-color: #272727;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  top: 4rem;
  z-index: 2;
  color: black;
 display: block;
}

footer section{
  display: flex;
}

.footer-t{
  width: 62.5%;
}

footer .footer-lt{
  display: flex;
}

.footer-t>p, .footer-t p>a{
  color: #40403F;
  text-align: center;
}

.info-contact h2{
  color: #e2e2e2;
  border-bottom: #FCEE21 solid 1px;
}

footer a{
  color: black;
}

.textwidget{
  margin: 0 2%;
}

.textwidget > p{
  font-weight: bold;
  color: #FCEE21
}

footer ul{
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

footer li{
  list-style-type: none;
  margin: 0 0 0 0;
}

footer a{
  text-decoration: none;
  color: #e2e2e2;
}

footer p{
  margin: 0 0 0 0;
}

.footer-logo {
  width: 20%;
  justify-content: center;
  display: flex;
}

.footer-logo img {
  align-self: center;
  width: 70%;
  padding: 15%; 
  object-fit: contain;
}

.footer-text{
  width: 40%;
  margin: 0 0 0 2.5%;
}

.maps{
  width: 37.5%;
  height: auto;
}

.textwidget span p{
  margin: 0.5% 2.5%;
}

@media (max-width: 750px) {

  body{
    margin: 2rem 0 0 0;
    text-align: center;
  }
  .log{
    display: block;
    align-items: center;
  }
  .logo{
    height: 4rem;
    width: 100%;
    background-color: gray;
    margin: 0;
    
  }
  .login{
    margin: 0
  }
  nav{
    display: block;
    padding: 0 0 5% 0;
  }

  ul{
    display: block;
    justify-content: space-between;
    width: 100%;
    margin: 0;  
    padding: 5% 0 0 0;
  }
  main{
    display: block;
  }
  .main-image{
    height: 20rem;
    width: 100%;
  }
}

/* GALERIA */

.imagenes{
  height: 100px;
  width: 100%;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
gmp-map{
  height: 100%;
}