.subtitle{
  text-align: center;
  justify-content: justify;
  position: relative;
  top: 5rem;
  padding: 4rem 7.5%;
}

.subtitle div{
  display: flex;
  align-items: center;
}

.subtitle div>p{
  width: 55%;
  padding: 2.5%;
  margin: 0
}

.subtitle img{
  display: flex;
  
  width: 35%;
  padding: 2.5%;
  border-radius: 100px;
}

@media (max-width: 750px) {
  .subtitle{
    top: 1rem;
    text-align: -webkit-center;
  }

  .subtitle div{
    flex-direction: column;
  }

  .subtitle div>p{
    width: 85%;
    padding: 7.5%;
    font-size: 18px;
  }

  .subtitle img{
    width: 60%;
    display: flex;
    border-radius: 10000px;
  }
}